*{
    font-family: cursive;
    font-weight: bold;
    box-sizing: border-box;
}
header{
    font-size: 28px;
    text-align: center;
    padding: 5px 0px 30px 0px;
}
section{
    font-size: 20px;
    border: 1px solid black;
    position: relative;
    margin-bottom: 30px;
    background-color: darkgray;
    padding: 10px;   
}
div{
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    text-align: center;
    border: 1px solid black;
}
.set-color-1{
    background-color: pink;
}
.set-color-2{
    background-color:sienna;
    color: white;
}
.set-color-3{
    background-color: tan;
}
@media (min-width: 992px) {
    #sect-1, #sect-2, #sect-3{
        width: 30%; float: left;
    }
    #sect-1, #sect-2{
        margin-right: 4%;
    }
    #sect-1{
        margin-left: 1%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    #sect-1, #sect-2{
        width: 48%; float: left;
    }
    #sect-3{
        clear: left; 
    }
    #sect-2{margin-left: 1%;}
    #sect-1, #sect-3{
        margin-right: 1%; margin-left: 1%;
    }
}
@media (max-width: 767px){
    section{
        margin-left: 10%;
        margin-right: 10%;
    }
}
